<div class="form-group">
      <div class="card shadow rounded mb-5">
        <div class="card-header">
          <h5>Entrada de estoque</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <select class="form-control">
                <option [value]="null" [disabled]="true">Equipamentos</option>
                <option [value]="null" >Notebook</option>
              </select>
            </div>
          </div>
        </div>
      </div>
 
</div>