<!-- *ngIf="userService.user.token" -->
<ul *ngIf="false" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a [routerLink]="['/home']" class="sidebar-brand d-flex align-items-center justify-content-center">
    <!-- <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div> -->
    <img src="assets/img/Logo.png" style="max-height:40px; object-fit: contain; "/>
    <div class="sidebar-brand-text mx-3">Sharealook</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a [routerLink]="['/home']" class="nav-link">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <!-- <div class="sidebar-heading">
    Operations Positions
  </div> -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Support Tables</span>
    </a>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" [routerLink]="['/support/user']">Users</a>
        <a class="collapse-item" [routerLink]="['/support/user/approve']">Users Pending</a>
        <a class="collapse-item" [routerLink]="['/support/brand']">Brand</a>
        <a class="collapse-item" [routerLink]="['/support/category']">Category</a>
        <a class="collapse-item" [routerLink]="['/support/color']">Color</a>
        <a class="collapse-item" [routerLink]="['/support/size']">Size</a>
        <a class="collapse-item" [routerLink]="['/support/occasion']">Occasion</a>
        <!-- <a class="collapse-item">Rental Positions</a> -->
        <!-- <a class="collapse-item">KPI's</a> -->
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Operations Positions</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <!-- <h6 class="collapse-header">Custom Components:</h6> -->
        <a class="collapse-item" [routerLink]="['operations/salesPosition']">Sales Positions</a>
        <a class="collapse-item" [routerLink]="['operations/product-upload']">Products Upload's</a>
        <!-- <a class="collapse-item">Rental Positions</a> -->
        <!-- <a class="collapse-item">KPI's</a> -->
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-rocket"></i>
      <span>Customer</span>
    </a>
    <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/support/customer/sponsors']">Sponsors</a>
        <a class="collapse-item" [routerLink]="['/support/customer/membership']">MemberShip</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
      <i class="fas fa-ticket-alt"></i>
      <span>Coupon</span>
    </a>
    <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/support/coupons/types']">Coupon Type</a>
        <a class="collapse-item" [routerLink]="['/support/coupons']">Coupon</a>
        <a class="collapse-item" [routerLink]="['/support/coupons/position']">Coupon Position</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
      <i class="far fa-id-card"></i>
      <span>Associated</span>
    </a>
    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" [routerLink]="['/support/associateds/types']">Associated Type</a>
        <a class="collapse-item" [routerLink]="['/support/associateds']">Associated</a>
      </div>
    </div>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="sidebarToggle()"></button>
  </div>

</ul>
<!-- End of Sidebar -->