<ngx-spinner 
bdColor = "rgba(45,85,198,0.71)" 
size = "medium" 
color = "#ffffff" 
type = "square-loader" 
[fullScreen] = "true">
<p style="color: white"> Carregando... </p>
</ngx-spinner>
  <div class="card shadow mb-5 rounded">
    <div class="card-header">
      <h6 class="card-title font-weight-bold text-primary text-uppercase mb-1">Preencha o formulário</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="equipamentoForm" (ngSubmit)="onSubmit()">
        <h5><strong>Dados do Equipamento </strong> </h5>
        <div class="row">
          <div class="col-sm-4 py-2" >
            <input formControlName="nome" type="text" placeholder="Nome do Equipamento" class="form-control" required>
          </div>
          <div class="col-sm-4 py-2">
            <input formControlName="modelo" type="text" placeholder="Modelo do Equipamento" class="form-control"required>
          </div>
          <div class="col-sm-4 py-2">
            <input formControlName="numeroSerie" type="text" placeholder='Nº de Série' class="form-control"required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 py-2">
            <input formControlName="patrimonio" type="text" placeholder="Patrimônio" class="form-control"required>
          </div>
          <div class="col-sm-4 py-2">
            <input formControlName="cor" type="text" placeholder="Cor" class="form-control"required>
          </div>
          <div class="col-sm-4 py-2">
            <select formControlName="status" name="status" class="form-control"> 
              <option [value]="null" [disabled]='true'>Selecione</option>
              <option *ngFor="let i of listaStatus" [value]="i.value">{{i.texto}}</option>
            </select>
          </div>
        </div>

        <hr />
        <h5><strong>Dados de Localização</strong> </h5>
        <div class="row">
          <div class="col-sm-4 py-2">
            <input type="text" placeholder="Cidade" class="form-control">
          </div>
          <div class="col-sm-4 py-2">
            <input type="text" placeholder="Estado" class="form-control">
          </div>
          <div class="col-sm-4 py-2">
            <input type="text" placeholder="UF" class="form-control">
          </div>
        </div>
        <hr />
        <h5><strong>Departamento & Fabricante</strong></h5>
        <div class="row">
            <div class="col-sm-4 py-2">
              <input type="text" formControlName="fabricante" placeholder="Fabricante" class="form-control">
            </div>
            <div class="col-sm-4 py-2">
              <input type="text" formControlName="departamento" placeholder="Departamento" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Salvar</button> 
      </form>
    </div>
  </div>