<div class="container">

  <div class="card">
    
    <div class="card-header">
      <h5 class="card-title">Cadastro de Equipamento</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          
          <input type="text" placeholder="Nome do Equipamento" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder="Modelo do Equipamento" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder='Nº de Série' class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder="Patrimônio" class="form-control">
        </div>
        <div class="col-sm-4">
          <input type="text" placeholder="Cor" class="form-control">
        </div>
        <select name="time" class="form-control">
          <option value="ind">INDISPONÍVEL</option>
          <option value="fla">DISPONÍVEL</option>
          <option value="flu">DANIFICADO</option>
          <option value="vasco">EM MANUTENÇÃO</option>
          <option value="vasco">EM ESTOQUE</option>
          <option value="vasco">FORA DE ESTOQUE</option>
        </select>
        
          <button type='submit' class="btn btn-primay btn-sm" >Cadastrar Equipamento</button> 
        
      </div>
    </div>
  </div>
</div>