<ngx-spinner 
bdColor = "rgba(45,85,198,0.71)" 
size = "medium" 
color = "#ffffff" 
type = "square-loader" 
[fullScreen] = "true">
<p style="color: white"> Carregando... </p>
</ngx-spinner>


<div id="accordion">
  <div class="card shadow rounded mb-5">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link font-weight-bold text-primary text-uppercase mb-1" data-toggle="collapse" data-target="#collapseFiltro" aria-expanded="true" aria-controls="collapseFiltro">
          Filtro
        </button>
      </h5>
    </div>
    <div id="collapseFiltro" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <form [formGroup]="buscarForm" (ngSubmit)="pesquisar()">
        <div class="row">
          <div class="col-sm-3">
            <input formControlName="nome" type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="col-sm-3">
            <select formControlName="departamento" name="departamento" id="departamento" class="form-control">
              <option [value]="null" [disabled]="true">Departamento</option>
              <option *ngFor="let i of params?.departamentos" [value]="i.idDepartamento">{{i.nomeDepartamento}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select formControlName="fabricante" name="fabricante" id="fabricante" class="form-control">
              <option [value]="null" [disabled]="true">Fabricante</option>
              <option *ngFor="let i of params?.fabricantes" [value]="i.idFabricante" >{{i.nomeFabricante}}</option>
            </select>
          </div>
          <div class="form-check col-sm-3">
            <!-- <div *ngFor="let i of listaStatus">
              <input formControlName="status"  [id]="i.value" type="checkbox" class="form-check-input">
              <label class="form-check-label" [for]="i.value">
                {{i.texto}}
              </label>
            </div> -->
            <ng-multiselect-dropdown 
            [placeholder]="'Selecione...'" 
            [data]="dropdownListStatus"
            formControlName="status" 
            [settings]="dropdownStatus">
          </ng-multiselect-dropdown>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12 ">
            <button class="btn btn-primary float-right" type="submit">Buscar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="equipamentos?.content" class="card shadow mb-5 rounded">
  <div class="card-header text-center">
    <label class="font-weight-bold text-primary text-uppercase mb-1">Resultados</label>
  </div>
  <div class="card-body">
    <div class="table-responsive mb-4">
      <table style="border: #dddfeb solid 1px" class="table table-striped dataTable">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Departamento</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let i of equipamentos?.content">
            <td>{{i?.idEquipamento}}</td>
            <td>{{i?.nome}}</td>
            <td>{{i?.fabricante?.nomeFabricante}}</td>
            <td>{{i?.departamento?.nomeDepartamento}}</td>
            <td>{{getStatus(i?.statusEquipamento)}}</td>
            <td class="d-flex justify-content-center">
              <div class="row">
                <div class="col-sm-2 m-2">
                  <button class="btn btn-primary btn-circle btn-sm" (click)="detalhar(i)" type="button" title="Visualizar detalhes">
                    <i class="fas fa-eye"></i>
                  </button>
                </div>
                <div class="col-sm-2 m-2">
                  <button class="btn btn-warning btn-circle btn-sm" (click)="selecionar(i.idEquipamento)" type="button" title="Editar"><i class="fas fa-edit"></i></button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="equipamentos == null" class="card shadow mb-5 rounded">
  <div class="card-header text-center">
    <label class="font-weight-bold text-primary text-uppercase mb-1">Resultados</label>
  </div>
  <div class="card-body text-center">
        Nenhum resultado encontrado <i class="far fa-sad-tear"></i>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDetalhes" tabindex="-1" role="dialog" aria-labelledby="modalDetalhesLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDetalhes">Detalhes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
        <strong>Equipamento:</strong> {{equipamentoVO?.nomeEquipamento}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Fabricante:</strong> {{equipamentoVO?.nomeFabricante}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Modelo:</strong> {{equipamentoVO?.modelo}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Departamento:</strong> {{equipamentoVO?.nomeDepartamento}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Nº de Série:</strong> {{equipamentoVO?.numeroSerie}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Patrimônio:</strong> {{equipamentoVO?.patrimonio}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Cor:</strong> {{equipamentoVO?.cor}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Status:</strong> {{equipamentoVO?.statusEquipamento}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditar">Editando...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editarForm" (ngSubmit)="onEditar()">
          <h5><strong>Dados do Equipamento </strong> </h5>
          <div class="row">
            <div class="col-sm-4 py-2" >
              <input formControlName="nome" type="text" placeholder="Nome do Equipamento" class="form-control" required>
            </div>
            <div class="col-sm-4 py-2">
              <input formControlName="modelo" type="text" placeholder="Modelo do Equipamento" class="form-control"required>
            </div>
            <div class="col-sm-4 py-2">
              <input formControlName="numeroSerie" type="text" placeholder='Nº de Série' class="form-control"required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 py-2">
              <input formControlName="patrimonio" type="text" placeholder="Patrimônio" class="form-control"required>
            </div>
            <div class="col-sm-4 py-2">
              <input formControlName="cor" type="text" placeholder="Cor" class="form-control"required>
            </div>
            <div class="col-sm-4 py-2">
              <select formControlName="status" name="status" class="form-control"> 
                <option [value]="null" [disabled]='true'>Selecione</option>
                <option *ngFor="let i of listaStatus" [value]="i.value">{{i.texto}}</option>
              </select>
            </div>
          </div>
  
          <hr />
          <h5><strong>Departamento & Fabricante</strong></h5>
          <div class="row">
              <div class="col-sm-4 py-2">
                <!-- <input type="text" formControlName="fabricante" placeholder="Fabricante" class="form-control"> -->
                <select formControlName="idFabricante" name="departamento" id="departamento" class="form-control">
                  <option [value]="null" [disabled]="true">Fabricante</option>
                  <option *ngFor="let i of params?.fabricantes" [value]="i.idFabricante">{{i.nomeFabricante}}</option>
                </select>
              </div>
              <div class="col-sm-4 py-2">
                <!-- <input type="text" formControlName="departamento" placeholder="Departamento" class="form-control"> -->
                <select formControlName="idDepartamento" (change)="selectDepartamento()" name="departamento" id="departamento" class="form-control">
                  <option [value]="null" [disabled]="true">Departamento</option>
                  <option *ngFor="let i of params?.departamentos" [value]="i.idDepartamento">{{i.nomeDepartamento}}</option>
                </select>
              </div>
              <div class="col-sm-4 py-2">
                <input type="date" class="form-control" formControlName="dataEntrada">
              </div>
          </div>
         
          <hr />
          <h5><strong>Dados de Localização</strong> </h5>
          <div class="row">
            <div class="col-sm-4 py-2">
              <input type="text" formControlName="cidade" placeholder="Cidade" class="form-control">
            </div>
            <div class="col-sm-4 py-2">
              <input type="text" formControlName="estado" placeholder="Estado" class="form-control">
            </div>
            <div class="col-sm-4 py-2">
              <input type="text" formControlName="uf" maxlength="2"  placeholder="UF" class="form-control">
            </div>
          </div>
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-info float-right">Editar</button> 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>